# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @t-lo @dongsupark @chewi @jepio @pothos @krnowak @tormath1 @sayanchowdhury @ader1990 @gabriel-samfira @John15321 @ervcz @robinschneider @lexinadolski 
